/* 

This is a comment

BUG LOW! all <int>'s are in pixels, use "10" instead of "10px" ---
BUG MED! change image-opacity to background-image-opacity ---
BUG HIG! backround image opacity is 0 by default, even if image is set ---


--- theming property list (as close to css as possible) ---

#General {
    alignment:        string; ("left" or "right" for now)
    background-color: string;
    background-image: string;
    border-color:     string;
    border-radius:    int;
    border-width:     int;
    extended-height:  bool;
    image-opacity:    real; (for background-image) 
    width:            int;
}

#Calendar {
    background-color: string;
    background-image: string;
    border-color:     string;
    border-radius:    int;
    border-width:     int;
    image-opacity:    real; (for background-image)
}

#Time {
    color:        string;
    font-family:  string;
}

#Date {
    color:        string;
    font-family:  string;
}

#Applications, #Disks, #Pins, #Places {
    background-color:  string;
    background-image:  string;
    border-color:      string;
    border-radius:     int;
    border-width:      int;
    image-opacity:     real; (for background-image)
}

#ApplicationButton {
    background-gradient-bottom: string;
    background-gradient-top:    string;
    border-gradient-bottom:     string;
    border-gradient-top:        string;
    border-radius:              int;
    border-width:               int;
    color:                      string;
    icon-grayscale:             bool;
    inner-border-color:         string;
    inner-border-width:         int;
    outer-border-color:         string;
    outer-border-width:         int;
    text-shadow:                string;
}

#ApplicationButton:hover, #ApplicationButton:focus {
    background-gradient-bottom: string;
    background-gradient-top:    string;
    border-gradient-bottom:     string;
    border-gradient-top:        string;
    border-radius:              int;
    border-width:               int;
    icon-grayscale:             bool;
    inner-border-color:         string;
    inner-border-width:         int;
    outer-border-color:         string;
    outer-border-width:         int;
    text-shadow:                string;
}

#Pin1, #Pin2, #Pin3 {
    background-gradient-bottom: string;
    background-gradient-top:    string;
    background-image            string;
    border-gradient-bottom:     string;
    border-gradient-top:        string;
    border-radius:              int;
    border-width:               int;
    image-opacity:              real;
}

*/

#General {
    width:            200;
    extended-height:  false;
    border-radius:    7;
    alignment:        right;
    background-color: #eecccccc;
    background-image: "images/a.png";
    image-opacity:    0.3;
    border-color:     #33000000;
    border-width:     4;
}

#Time {
    font-family: "Monospace";
    color: #aa000000;
}

#Date {
    font-family: "Sans Serif";
    color: #aa000000;
}

#ApplicationButton, #ApplicationButton:hover, #ApplicationButton:focus {
    background-gradient-top:    #fff;
    background-gradient-bottom: #ccc;
    border-radius:              8;
    color:                      #88000000;
}

#ApplicationButton {
    outer-border-color: #7f7f7f;
    outer-border-width: 1;
    icon-grayscale: true;
}

#ApplicationButton:hover {
    inner-border-color: #fff;
    inner-border-width: 1;
    border-gradient-top:    #777;
    border-gradient-bottom: #aaa;
    outer-border-color: #00aaff;
    outer-border-width: 1;
    border-width: 2;
    icon-grayscale: false;
    color: #f00;
}

#ApplicationButton:focus {
    outer-border-color: #c4c4c4;
    outer-border-width: 0;
}

#Pin1, #Pin2, #Pin3 {
    border-gradient-top: #9a9a9a;
    border-gradient-bottom: #ccc;
    inner-border-width: 1;
    border-width: 4;
}

#Pin1 {
    background-gradient-top: #d44440;
    background-gradient-bottom: #622e2c;
    inner-border-color: #642828;
}

#Pin2 {
    background-gradient-top: #d49520;
    background-gradient-bottom: #966a17;
    inner-border-color: #63481a;
}

#Pin3 {
    background-gradient-top: #70d43f;
    background-gradient-bottom: #50962d;
    inner-border-color: #3a6325;
}
