#General {
    width:            180;
    extended-height:  false;
    border-radius:    8;
    alignment:        right;
    background-color: #bbffffff;
    background-image: "images/s_back.jpeg";
    image-opacity:    0.2;
    border-color:     #55000000;
    border-width:     4;
}

#Time {
    font-family: "Monospace";
    color:       #aa000000;
}

#Date {
    font-family: "Oxygen-Sans";
    color:       #99000000;
}

#ApplicationButton,
#PlaceButton,
#PlaceButton:hover,
#PlaceButton:focus,
#ApplicationButton:hover,
#ApplicationButton:focus {
    background-gradient-top:    #ffffff;
    background-gradient-bottom: #ccc;
    border-radius:              4;
    color:                      #88000000;
}

#ApplicationButton {
    outer-border-color: #7f7f7f;
    outer-border-width: 1;
    color:              #fff;
}

 #PlaceButton {
    outer-border-color: #7f7f7f;
    outer-border-width: 1;
    color:              #fff;
    text-align:         left;
}


#PlaceButton {
    outer-border-color: #7f7f7f;
    outer-border-width: 1;
    icon-grayscale:     false;
    color:              #000;
    text-align:         center;
}

#ApplicationButton:hover, #PlaceButton:hover {
    inner-border-color: #fff;
    inner-border-width: 1;
    outer-border-color: #00aaff;
    outer-border-width: 1;
    icon-grayscale:     true;
}

#ApplicationButton:focus {
    outer-border-color: #c4c4c4;
    outer-border-width: 0;
}

#Pin1, #Pin2, #Pin3 {
    border-gradient-top:    #666;
    border-gradient-bottom: #bbb;
    inner-border-width:     1;
    outer-border-width:     0;
    border-width:           2;
}

#Pin1 {
    background-gradient-top:    #d44440;
    background-gradient-bottom: #622e2c;
    inner-border-color:         #642828;
}

#Pin2 {
    background-gradient-top:    #d49520;
    background-gradient-bottom: #966a17;
    inner-border-color:         #63481a;
}

#Pin3 {
    background-gradient-top:    #70d43f;
    background-gradient-bottom: #50962d;
    inner-border-color:         #3a6325;
}
