/* 

This is a comment

BUG MED! change image-opacity to background-image-opacity ---
BUG HIG! backround image opacity is 0 by default, even if image is set ---


--- theming property list (as close to css as possible) ---

#General {
    alignment:        string; ("left" or "right" for now)
    background-color: string;
    background-image: string;
    border-color:     string;
    border-radius:    int;
    border-width:     int;
    extended-height:  bool;
    image-opacity:    real; (for background-image) 
    width:            int;
}

#Calendar {
    background-color: string;
    background-image: string;
    border-color:     string;
    border-radius:    int;
    border-width:     int;
    image-opacity:    real; (for background-image)
}

#Time {
    color:        string;
    font-family:  string;
}

#Date {
    color:        string;
    font-family:  string;
}

#Applications, #Pins, #Places {
    background-color:  string;
    background-image:  string;
    border-color:      string;
    border-radius:     int;
    border-width:      int;
    image-opacity:     real; (for background-image)
}

#ApplicationButton, #PlaceButton {
    background-gradient-bottom: string;
    background-gradient-top:    string;
    border-gradient-bottom:     string;
    border-gradient-top:        string;
    border-radius:              int;
    border-width:               int;
    color:                      string;
    icon-grayscale:             bool;
    inner-border-color:         string;
    inner-border-width:         int;
    outer-border-color:         string;
    outer-border-width:         int;
}

#ApplicationButton:hover, #ApplicationButton:focus,
#PlaceButton:hover, #PlaceButton:focus {
    background-gradient-bottom: string;
    background-gradient-top:    string;
    border-gradient-bottom:     string;
    border-gradient-top:        string;
    border-radius:              int;
    border-width:               int;
    icon-grayscale:             bool;
    inner-border-color:         string;
    inner-border-width:         int;
    outer-border-color:         string;
    outer-border-width:         int;
}

#Pin1, #Pin2, #Pin3 {
    background-gradient-bottom: string;
    background-gradient-top:    string;
    background-image            string;
    border-gradient-bottom:     string;
    border-gradient-top:        string;
    border-radius:              int;
    border-width:               int;
    image-opacity:              real;
}

*/

#General {
    width:            189;
    border-radius:    8;
    alignment:        right;
    background-color: #88000000;
    border-color:     #44ffffff;
    border-width:     1;
    extended-height:  false;

}

#Time {
    font-family: "Monospace";
    color: #ccc;
}

#Date {
    font-family: "Oxygen-Sans";
    color: #aaa;
}

#Tooltip {
    color: #fff;
    background-color: #cc000000;
    border-radius: 5;
}

#ApplicationButton, #ApplicationButton:focus {
    border-color:               #22000000;
    border-width:               2;
    background-gradient-top:    #44ffffff;
    background-gradient-bottom: #00ffffff;
    border-radius:              4;
    color:                      #000;
}

#ApplicationButton:hover {
    border-color:               #00aaff;
    border-width:               2;
    background-gradient-top:    #44ffffff;
    background-gradient-bottom: #00ffffff;
    border-radius:              4;
    color:                      #000;
}

#PlaceButton, #PlaceButton:focus {
    background-gradient-top:    #88ffffff;
    background-gradient-bottom: #44ffffff;
    border-radius:              4;
    color:                      #000;
    border-color:               #aa000000;
    border-width:               1;
    icon-grayscale:             true;
    text-align:                 left;
}

#PlaceButton:hover {
    background-gradient-top:    #88ffffff;
    background-gradient-bottom: #44ffffff;
    border-radius:              4;
    color:                      #000;
    border-color:               #00aaff;
    border-width:               1;
    icon-grayscale:             true;
    text-align:                 left;
}

#Pin1, #Pin2, #Pin3 {
    border-gradient-top:    #55000000;
    border-gradient-bottom: #55ffffff;
    border-width:           2;

}

#Pin1 {
    background-gradient-top:    #d44440;
    background-gradient-bottom: #622e2c;
    inner-border-color:         #642828;
}

#Pin2 {
    background-gradient-top:    #d49520;
    background-gradient-bottom: #966a17;
    inner-border-color:         #63481a;
}

#Pin3 {
    background-gradient-top:    #70d43f;
    background-gradient-bottom: #50962d;
    inner-border-color:         #3a6325;
}
