<?xml version="1.0"?>

<!-- this is an example of ~/.config/CobraBar/settings.xml -->
<!-- application icons     ~/.config/CobraBar/icons -->
<!-- theme location      ~/.config/CobraBar/themes/XXXX/style.txt  where XXXX is theme id -->

<qbar>
    
    <theme id="test"></theme>
    
    <applications>
        <application exec="firefox"             icon="firefox.png"         tooltip="Web Browser">   </application>
        <application exec="konsole --workdir=~" icon="konsole.png"         tooltip="Terminal">      </application>
        <application exec="dolphin"             icon="dolphin.png"         tooltip="File Manager">  </application>
        <application exec="okteta"              icon="okteta.png"          tooltip="Hex Editor">    </application>
        <application exec="okular"              icon="okular.png"          tooltip="PDF Reader">    </application>
        <application exec="qtcreator"           icon="qtcreator.png"       tooltip="RAM Destroyer"> </application>
        <application exec="cantata"             icon="cantata.png"         tooltip="Audio Player">  </application>
        <application exec="systemsettings5"     icon="systemsettings5.png" tooltip="KDE Settings">  </application>
        <application exec="kate"                icon="kate.png"            tooltip="Text Editor">   </application>
        <application exec="kcolorchooser"       icon="kolourchooser.png"   tooltip="Color Picker">  </application>
    </applications>
    
    <places>
        <place path="~"           label="Home"         icon="example.png"     tooltip="Home"> </place>
        <place path="~/Apps"      label="Applications" tooltip="Applications">             </place>
        <place path="~/Documents" label="Documents"    tooltip="Documents">    </place>
        <place path="~/Downloads" label="Downloads"    tooltip="Downloads">    </place>
        <place path="~/Movies"    label="Movies"       tooltip="Movies">       </place>
        <place path="~/Music"     label="Music"        tooltip="Music">        </place>
        <place path="~/Books"     label="Books"        tooltip="Books">        </place>
        <place path="~/Games"     label="Games"        tooltip="Games">        </place>
    </places>
    
</qbar>


